<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <autofac xdt:Transform="Replace">
    <components>
      <component
              name="IE"
              type="TestApplication.UiTests.IERemoteWebDriver, TestApplication.UiTests"
              service="OpenQA.Selenium.IWebDriver, WebDriver"
              instance-scope="per-dependency">
        <parameters>
          <parameter name="url" value="http://127.0.0.1:4444/wd/hub" />
        </parameters>
      </component>
      <component
              name="Chrome"
              type="TestApplication.UiTests.ChromeRemoteWebDriver, TestApplication.UiTests"
              service="OpenQA.Selenium.IWebDriver, WebDriver"
              instance-scope="per-dependency">
        <parameters>
          <parameter name="url" value="http://127.0.0.1:4444/wd/hub" />
        </parameters>
      </component>
    </components>
  </autofac>
  
</configuration>