<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.4.0" targetFramework="net45" />
  <package id="Autofac.Configuration" version="3.2.1" targetFramework="net45" />
  <package id="Baseclass.Contrib.SpecFlow.Selenium.NUnit" version="1.3.2-test3" targetFramework="net45" />
  <package id="CodeAssassin.ConfigTransform" version="1.2" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Selenium.Support" version="2.41.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.41.0" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
</packages>